/* Remove default button highlighting */
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
}